// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@include media-breakpoint-up(sm) {
  .card-columns {
    column-count: 3;
    -webkit-column-count: 3;
    column-gap: 1.25rem;
    -webkit-column-gap: 1.25rem;

    .card {
      display: inline-block;
      width: 100%; // Don't let them exceed the column width
    }
  }
}
